Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

fix: update phone parser validation and test assertions
  tests/unit/test_parsers_phone.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

chore: prepare v0.8.0 release with phone parsing feature
  .gitignore
  CHANGELOG.md
  pyproject.toml
  uv.lock
  valid8r/__init__.py
Labels: documentation, dependencies, github

feat: Add North American phone number parsing (NANP) #43 (#135)
  .gitignore
  CHANGELOG.md
  pyproject.toml
  tests/unit/test_parsers_phone.py
  uv.lock
  valid8r/__init__.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, documentation, dependencies, github

fix: update semantic-release workflow to work with uv build tool
  .github/workflows/semantic-release.yml
  .github/workflows/version-and-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix: update semantic-release workflow to work with uv build tool (#137)
  .github/workflows/semantic-release.yml
  .github/workflows/version-and-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix(security): prevent DoS attack in phone parser with early length validation
  tests/unit/test_phone_parsing.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

fix(ci): use correct 'build' parameter in semantic-release workflow
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

test(bdd): update phone parser DoS test to expect 'too long' error
  tests/bdd/features/phone_parsing.feature
Labels: tests, bdd-tests, github

fix: semantic-release workflow parameter + phone parser DoS protection (#138)
  .github/workflows/semantic-release.yml
  tests/bdd/features/phone_parsing.feature
  tests/unit/test_phone_parsing.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, ci-cd, github

fix(ci): use PAT to bypass branch protection in semantic-release workflow
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

fix(ci): configure PAT to bypass branch protection in semantic-release
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

fix(ci): configure PAT to bypass branch protection in semantic-release (#139)
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

docs: update documentation with v0.9.1 security fix and release process
  .gitignore
  CLAUDE.md
  CONTRIBUTING.md
  QA_REPORT_PR47.md
  SECURITY.md
Labels: documentation, github

docs(security): add Phase 1 DoS vulnerability assessment for issue #132
  PHASE1_ASSESSMENT_SUMMARY.md
  SECURE_PARSER_GUIDELINES.md
  SECURITY_AUDIT_REPORT.md
  tests/security/__init__.py
  tests/security/dos_assessment.py
Labels: tests, documentation, github

docs(security): add comprehensive security documentation for issue #133
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/security/production-deployment.md
  docs/security/secure-parser-development.md
Labels: documentation, github

docs(security): integrate security documentation into Sphinx
  docs/development/contributing.rst
  docs/examples/fastapi_integration.rst
  docs/index.rst
  docs/security/overview.rst
  docs/security/policy.rst
  docs/user_guide/advanced_usage.rst
  docs/user_guide/parsers.rst
Labels: documentation, github

docs(security): integrate comprehensive security documentation into Sphinx (#140)
  docs/development/contributing.rst
  docs/examples/fastapi_integration.rst
  docs/index.rst
  docs/security/overview.rst
  docs/security/policy.rst
  docs/user_guide/advanced_usage.rst
  docs/user_guide/parsers.rst
Labels: documentation, github

ci: modernize CI/CD pipeline to state-of-the-art (72→100/100)
  .github/actions/setup-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .gitignore
  CLAUDE.md
  README.md
  docs/ci-cd-migration-2025.md
  pyproject.toml
  templates/CHANGELOG.md.j2
  uv.lock
  valid8r/__init__.py
Labels: documentation, dependencies, ci-cd, github

fix(ci): simplify composite action dependency group handling
  .github/actions/setup-uv/action.yml
Labels: github

fix(ci): correct codecov action SHA
  .github/workflows/ci.yml
Labels: ci-cd, github

fix(ci): configure isort to skip gitignored files
  pyproject.toml
Labels: dependencies, github

fix(docs): use dynamic version from package instead of pyproject.toml
  docs/conf.py
Labels: documentation, github

ci: modernize CI/CD pipeline to state-of-the-art (72→100/100) (#141)
  .github/actions/setup-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .gitignore
  CLAUDE.md
  README.md
  docs/ci-cd-migration-2025.md
  docs/conf.py
  pyproject.toml
  templates/CHANGELOG.md.j2
  uv.lock
  valid8r/__init__.py
Labels: documentation, dependencies, ci-cd, github

fix(ci): remove custom changelog template incompatible with semantic-release v10
  pyproject.toml
  templates/CHANGELOG.md.j2
Labels: dependencies, github

fix(ci): disable build_command in semantic-release config
  pyproject.toml
Labels: dependencies, github

chore: add .worktrees/ to .gitignore for isolated development
  .gitignore
Labels: github

feat: add Click ParamType integration for valid8r parsers
  pyproject.toml
  tests/unit/test_integrations_click.py
  valid8r/integrations/__init__.py
  valid8r/integrations/click.py
Labels: tests, unit-tests, dependencies, github

feat: add parse_path() parser for pathlib.Path parsing
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

feat: add filesystem validators exists(), is_file(), is_dir()
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

fix(lint): remove unused imports and noqa directives in Click integration
  tests/unit/test_integrations_click.py
  uv.lock
  valid8r/integrations/__init__.py
  valid8r/integrations/click.py
Labels: tests, unit-tests, github

feat: add parse_path() parser for pathlib.Path parsing (#154)
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

Filesystem Validators: Add exists(), is_file(), is_dir() validators (#156)
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat: Click ParamType integration for valid8r parsers (#152)
  pyproject.toml
  tests/unit/test_integrations_click.py
  uv.lock
  valid8r/integrations/__init__.py
  valid8r/integrations/click.py
Labels: tests, unit-tests, dependencies, github

feat: add Pydantic integration with validator_from_parser helper
  examples/fastapi_example.py
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/__init__.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, github

fix(lint): fix linting errors in Pydantic integration
  examples/__init__.py
  examples/fastapi_example.py
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, github

feat: add Pydantic nested model validation support
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, github

fix(lint): use += instead of .append() for __all__
  valid8r/integrations/__init__.py
Labels: github

feat: Add Pydantic nested model validation support (stacked on #153) (#155)
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, github

fix: add missing type annotations to pydantic integration tests
  tests/unit/test_integrations_pydantic.py
Labels: tests, unit-tests, github

fix: skip click integration tests when click not installed
  tests/unit/test_integrations_click.py
Labels: tests, unit-tests, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
