Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

docs: Consolidate examples and complete parser documentation (#106)
  .claude/settings.local.json
  QA_REPORT_WEB_PARSERS_V0.6.0.md
  QA_VALIDATION_SUMMARY.md
  docs/examples/fastapi_integration.rst
  docs/index.rst
  docs/user_guide/parsers.rst
  examples/README.md
  examples/__init__.py
  examples/fastapi_integration.py
  pyproject.toml
Labels: documentation, dependencies, github

chore: gitignore auto-generated and local-only files
  .claude/settings.local.json
  .gitignore
  docs/autoapi/index.rst
  docs/autoapi/valid8r/core/combinators/index.rst
  docs/autoapi/valid8r/core/index.rst
  docs/autoapi/valid8r/core/maybe/index.rst
  docs/autoapi/valid8r/core/parsers/index.rst
  docs/autoapi/valid8r/core/validators/index.rst
  docs/autoapi/valid8r/index.rst
  docs/autoapi/valid8r/prompt/basic/index.rst
  docs/autoapi/valid8r/prompt/index.rst
  docs/autoapi/valid8r/testing/assertions/index.rst
  docs/autoapi/valid8r/testing/generators/index.rst
  docs/autoapi/valid8r/testing/index.rst
  docs/autoapi/valid8r/testing/mock_input/index.rst
Labels: documentation, github

chore: Gitignore auto-generated and local-only files (#108)
  .claude/settings.local.json
  .gitignore
  docs/autoapi/index.rst
  docs/autoapi/valid8r/core/combinators/index.rst
  docs/autoapi/valid8r/core/index.rst
  docs/autoapi/valid8r/core/maybe/index.rst
  docs/autoapi/valid8r/core/parsers/index.rst
  docs/autoapi/valid8r/core/validators/index.rst
  docs/autoapi/valid8r/index.rst
  docs/autoapi/valid8r/prompt/basic/index.rst
  docs/autoapi/valid8r/prompt/index.rst
  docs/autoapi/valid8r/testing/assertions/index.rst
  docs/autoapi/valid8r/testing/generators/index.rst
  docs/autoapi/valid8r/testing/index.rst
  docs/autoapi/valid8r/testing/mock_input/index.rst
Labels: documentation, github

docs: improve developer experience with comprehensive docstrings and fixed examples
  README.md
  valid8r/core/maybe.py
  valid8r/core/parsers.py
  valid8r/core/validators.py
  valid8r/prompt/basic.py
Labels: core, parsers, validators, prompt, documentation, github

docs: improve developer experience with comprehensive docstrings and fixed examples (#114)
  README.md
  valid8r/core/maybe.py
  valid8r/core/parsers.py
  valid8r/core/validators.py
  valid8r/prompt/basic.py
Labels: core, parsers, validators, prompt, documentation, github

feat(validators): add matches_regex validator with compiled regex support
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat(validators): add in_set validator for membership validation
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat(validators): add non_empty_string validator for string presence
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat(validators): add unique_items validator for collection uniqueness
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat(validators): add subset_of and superset_of validators
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

feat(validators): add is_sorted validator for sequence ordering
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

docs: add comprehensive documentation for all new validators
  README.md
  docs/examples/chaining_validators.rst
  docs/examples/custom_validators.rst
  docs/user_guide/advanced_usage.rst
  docs/user_guide/validators.rst
  valid8r/core/validators.py
Labels: core, validators, documentation, github

feat(validators): implement 6 common validators from roadmap #14 (#116)
  README.md
  docs/examples/chaining_validators.rst
  docs/examples/custom_validators.rst
  docs/user_guide/advanced_usage.rst
  docs/user_guide/validators.rst
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, documentation, github

feat: migrate from Poetry to uv for modern Python dependency management
  .github/workflows/ci.yml
  CLAUDE.md
  docs/migration-poetry-to-uv.md
  pyproject.toml
  uv.lock
Labels: documentation, dependencies, ci-cd, github

chore: update uv.lock after rebase
  uv.lock
Labels: github

fix: address critical issues in uv migration PR
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  docs/migration-poetry-to-uv.md
  pyproject.toml
  uv.lock
Labels: documentation, dependencies, ci-cd, github

fix: resolve CI pipeline failures and improve documentation
  .github/WORKFLOW_DIAGRAM.md
  .github/WORKFLOW_DIAGRAM.txt
  docs/conf.py
  valid8r/core/maybe.py
Labels: core, documentation, github

fix: add missing linkify-it-py dependency for documentation build
  pyproject.toml
  uv.lock
Labels: dependencies, github

Migrate from Poetry to uv for modern Python dependency management (#48)
  .github/WORKFLOW_DIAGRAM.md
  .github/WORKFLOW_DIAGRAM.txt
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/conf.py
  docs/migration-poetry-to-uv.md
  pyproject.toml
  uv.lock
  valid8r/core/maybe.py
Labels: core, documentation, dependencies, ci-cd, github

docs: update roadmap to reflect completion of #14
  ROADMAP.md
Labels: documentation, github

docs: update roadmap to reflect completion of #14 (#118)
  ROADMAP.md
Labels: documentation, github

docs: update CLAUDE.md to document completed uv migration
  CLAUDE.md
  uv.lock
Labels: documentation, github

docs: update all documentation to reflect Poetry → uv migration
  .github/QUICK_REFERENCE.md
  .github/README.md
  .github/SETUP_CHECKLIST.md
  .github/WORKFLOWS.md
  CONTRIBUTING.md
  README.md
  docs/development/contributing.rst
  docs/development/testing.rst
  docs/user_guide/getting_started.rst
Labels: documentation, github

docs: update secondary documentation files to reference uv instead of Poetry
  .github/CONVENTIONAL_COMMITS.md
  .github/pull_request_template.md
  .readthedocs.yaml
  docs/index.rst
Labels: documentation, github

docs: update all documentation to reflect Poetry → uv migration (#120)
  .github/CONVENTIONAL_COMMITS.md
  .github/QUICK_REFERENCE.md
  .github/README.md
  .github/SETUP_CHECKLIST.md
  .github/WORKFLOWS.md
  .github/pull_request_template.md
  .readthedocs.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/development/contributing.rst
  docs/development/testing.rst
  docs/index.rst
  docs/user_guide/getting_started.rst
  uv.lock
Labels: documentation, github

docs: revamp README with engaging structure and clear value proposition
  README.md
Labels: documentation, github

docs: revamp README with engaging structure and clear value proposition (#123)
  README.md
  uv.lock
Labels: documentation, github

fix: rename .github/README.md to GITHUB_CONFIG.md
  .github/GITHUB_CONFIG.md
  uv.lock
Labels: documentation, github

fix: rename .github/README.md to prevent conflict with root README (#125)
  .github/GITHUB_CONFIG.md
Labels: documentation, github

chore: add Codecov configuration for coverage reporting
  .codecov.yml
Labels: github

chore: add Codecov configuration for coverage reporting (#127)
  .codecov.yml
Labels: github

chore: update Python versions to latest patches and enhance multi-version testing
  .gitignore
  .python-version
  CONTRIBUTING.md
  uv.lock
Labels: documentation, github

chore: update Python versions to latest patches and enhance multi-version testing (#129)
  .gitignore
  .python-version
  CONTRIBUTING.md
  uv.lock
Labels: documentation, github

fix: use 'ext.' format for extensions in national and international phone formats
  tests/unit/test_parsers_phone.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

feat: implement strict mode for phone number formatting validation
  tests/unit/test_parsers_phone.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

fix: reject area code 555 in all modes, not just strict mode
  valid8r/core/parsers.py
Labels: core, parsers, github

fix: correct type signature and docstring example in parse_phone
  valid8r/core/parsers.py
Labels: core, parsers, github

fix: use 'ext.' format for extensions in national and international phone formats
  tests/unit/test_parsers_phone.py
Labels: tests, unit-tests, github

Add comprehensive unit tests for phone parsing
  tests/unit/test_parsers_phone.py
Labels: tests, unit-tests, github

feat: implement strict mode for phone number formatting validation
  tests/unit/test_parsers_phone.py
Labels: tests, unit-tests, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
