Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'

feat: add parse_str() parser with type validation (#212)
  tests/bdd/features/string_parsing.feature
  tests/bdd/steps/collection_parsing_steps.py
  tests/bdd/steps/string_parsing_steps.py
  tests/unit/test_dict_parser.py
  tests/unit/test_list_parser.py
  tests/unit/test_parsers.py
  tests/unit/test_prompt.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, github

fix: repair broken example files and documentation (#203)
  README.md
  docs/user_guide/schema.rst
  docs/user_guide/type_adapters.rst
  examples/schema_example.py
  examples/type_adapter_example.py
Labels: documentation, github

fix: resolve type checking and linting issues (#203)
  examples/schema_example.py
  examples/type_adapter_example.py
Labels: github

fix: use parse_str() instead of lambda workarounds (#203)
  README.md
  docs/user_guide/schema.rst
  examples/schema_example.py
Labels: documentation, github

fix: repair broken example files and documentation (#203)
  docs/user_guide/schema.rst
  docs/user_guide/type_adapters.rst
  examples/schema_example.py
  examples/type_adapter_example.py
Labels: documentation, github

docs: add schema to documentation table of contents (#205)
  docs/index.rst
Labels: documentation, github

fix: repair env_example.py for environment variable integration (#207)
  examples/env_example.py
Labels: github

docs: add schema to documentation table of contents (#205)
  docs/index.rst
Labels: documentation, github

fix: repair env_example.py for environment variable integration (#207)
  examples/env_example.py
Labels: github

docs: fix doctests and reduce documentation warnings (#208)
  valid8r/core/schema.py
  valid8r/core/type_adapters.py
  valid8r/core/validators.py
  valid8r/integrations/__init__.py
  valid8r/integrations/argparse.py
  valid8r/integrations/click.py
  valid8r/prompt/basic.py
  valid8r/prompt/io_provider.py
  valid8r/testing/assertions.py
  valid8r/testing/generators.py
Labels: core, validators, prompt, testing-utils, github

docs: remove duplicate API documentation to fix warning regression (#208)
  docs/api/core.rst
  docs/api/prompt.rst
  docs/index.rst
  docs/user_guide/getting_started.rst
Labels: documentation, github

docs: fix doctests and reduce documentation build warnings (#208)
  docs/api/core.rst
  docs/api/prompt.rst
  docs/index.rst
  docs/user_guide/getting_started.rst
  valid8r/core/schema.py
  valid8r/core/type_adapters.py
  valid8r/core/validators.py
  valid8r/integrations/__init__.py
  valid8r/integrations/argparse.py
  valid8r/integrations/click.py
  valid8r/prompt/basic.py
  valid8r/prompt/io_provider.py
  valid8r/testing/assertions.py
  valid8r/testing/generators.py
Labels: core, validators, prompt, testing-utils, documentation, github

test: rewrite Gherkin scenarios for async validation to be high-level and user-focused (#218)
  tests/bdd/features/async_validation.feature
Labels: tests, bdd-tests, github

test: add BDD step definitions for async validation (RED phase) (#218)
  tests/bdd/steps/async_validation_steps.py
Labels: tests, bdd-tests, github

docs: add performance benchmarking section to README (#217)
  README.md
Labels: documentation, github

test: add comprehensive unit tests for async validation (TDD RED phase) (#218)
  tests/unit/test_async_validation.py
Labels: tests, unit-tests, github

feat: add performance highlights to README (#217)
  README.md
Labels: documentation, github

fix: configure pytest-asyncio for tox environments (#218)
  pyproject.toml
  tests/bdd/steps/async_validation_steps.py
  tests/unit/test_async_validation.py
  tox.ini
  uv.lock
  valid8r/core/maybe.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, dependencies, github

docs: add comprehensive async validation documentation (#218)
  README.md
  docs/user_guide/async_validation.rst
  examples/async_api_validation.py
  examples/async_database_validation.py
Labels: documentation, github

fix: resolve code review issues for async validation (#220)
  README.md
  valid8r/core/schema.py
Labels: core, documentation, github

feat: add async validation support (#218)
  README.md
  docs/user_guide/async_validation.rst
  examples/async_api_validation.py
  examples/async_database_validation.py
  pyproject.toml
  tests/bdd/features/async_validation.feature
  tests/bdd/steps/async_validation_steps.py
  tests/unit/test_async_validation.py
  tox.ini
  uv.lock
  valid8r/core/maybe.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, documentation, dependencies, github

test: add BDD tests for FastAPI async validation guide (#224)
  tests/bdd/features/fastapi_async_validation_guide.feature
  tests/bdd/steps/fastapi_async_validation_guide_steps.py
Labels: tests, bdd-tests, github

test: add BDD tests for CLI starter template (#221)
  tests/bdd/features/cli_starter_template.feature
  tests/bdd/steps/cli_starter_template_steps.py
Labels: tests, bdd-tests, github

test: add BDD tests for Rich integration example (#226)
  tests/bdd/features/rich_integration.feature
  tests/bdd/steps/rich_integration_steps.py
Labels: tests, bdd-tests, github

test: add BDD tests for async validator library (#228)
  tests/bdd/features/async_validators.feature
  tests/bdd/steps/async_validators_steps.py
Labels: tests, bdd-tests, github

feat: add validators module with unit tests (#221)
  examples/cli-starter-template/__init__.py
  examples/cli-starter-template/tests/__init__.py
  examples/cli-starter-template/tests/test_validators.py
  examples/cli-starter-template/validators.py
Labels: github

feat: add database validators (unique_in_db, exists_in_db) (#228)
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, github

feat: implement CLI with interactive and config validation (#221)
  examples/cli-starter-template/README.md
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/requirements.txt
  examples/cli-starter-template/validators.py
Labels: documentation, github

docs: add comprehensive FastAPI async validation guide (#224)
  docs/guides/fastapi-async-validation.md
  examples/fastapi-async/README.md
  examples/fastapi-async/__init__.py
  examples/fastapi-async/app.py
  examples/fastapi-async/models.py
  examples/fastapi-async/requirements.txt
  pyproject.toml
Labels: documentation, dependencies, github

feat: add async database validators MVP (#228)
  docs/guides/async-validators.md
  examples/async-validation/__init__.py
  examples/async-validation/database_example.py
  tests/bdd/steps/async_validators_steps.py
  tests/bdd/steps/url_email_parsing_steps.py
  valid8r/async_validators.py
Labels: tests, bdd-tests, documentation, github

docs: add comprehensive FastAPI async validation guide (#234)
  docs/guides/fastapi-async-validation.md
  examples/fastapi-async/README.md
  examples/fastapi-async/__init__.py
  examples/fastapi-async/app.py
  examples/fastapi-async/models.py
  examples/fastapi-async/requirements.txt
  pyproject.toml
  tests/bdd/features/fastapi_async_validation_guide.feature
  tests/bdd/steps/fastapi_async_validation_guide_steps.py
Labels: tests, bdd-tests, documentation, dependencies, github

feat: add async database validators (MVP) (#228) (#243)
  docs/guides/async-validators.md
  examples/async-validation/__init__.py
  examples/async-validation/database_example.py
  tests/bdd/features/async_validators.feature
  tests/bdd/steps/async_validators_steps.py
  tests/bdd/steps/url_email_parsing_steps.py
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, bdd-tests, documentation, github

refactor: address code review feedback for CLI template (#221)
  examples/cli-starter-template/cli.py
  tests/bdd/steps/cli_starter_template_steps.py
  tox.ini
Labels: tests, bdd-tests, github

docs: add Rich integration documentation and fix review issues (#226)
  docs/integrations/rich.md
  examples/rich_integration/project_wizard.py
Labels: documentation, github

feat: add Rich integration example with TDD (#226)
  examples/rich_integration/README.md
  examples/rich_integration/__init__.py
  examples/rich_integration/project_wizard.py
  examples/rich_integration/requirements.txt
  tests/bdd/steps/rich_integration_steps.py
  tests/unit/examples/__init__.py
  tests/unit/examples/test_rich_integration.py
Labels: tests, unit-tests, bdd-tests, documentation, github

feat: add CLI Starter Template (#221) (#233)
  examples/cli-starter-template/README.md
  examples/cli-starter-template/__init__.py
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/requirements.txt
  examples/cli-starter-template/tests/__init__.py
  examples/cli-starter-template/tests/test_validators.py
  examples/cli-starter-template/validators.py
  tests/bdd/features/cli_starter_template.feature
  tests/bdd/steps/cli_starter_template_steps.py
  tox.ini
Labels: tests, bdd-tests, documentation, github

feat: add Rich integration example (#226) (#235)
  docs/integrations/rich.md
  examples/rich_integration/README.md
  examples/rich_integration/__init__.py
  examples/rich_integration/project_wizard.py
  examples/rich_integration/requirements.txt
  tests/bdd/features/rich_integration.feature
  tests/bdd/steps/rich_integration_steps.py
  tests/unit/examples/__init__.py
  tests/unit/examples/test_rich_integration.py
Labels: tests, unit-tests, bdd-tests, documentation, github

fix: address code review feedback for Typer integration (#229)
  tests/bdd/steps/typer_integration_steps.py
  tests/integration/test_typer_enhancement.py
  valid8r/integrations/typer.py
Labels: tests, bdd-tests, github

feat: add Typer integration enhancements (#229)
  tests/integration/test_typer_enhancement.py
  valid8r/integrations/typer.py
Labels: tests, github

test: implement all BDD step definitions for Typer integration (#229)
  tests/bdd/environment.py
  tests/bdd/features/typer_integration_enhancement.feature
  tests/bdd/steps/typer_integration_steps.py
Labels: tests, bdd-tests, github
