Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

chore: remove obsolete documentation files from repository root (#194)
  CICD_SETUP_SUMMARY.md
  PHASE1_ASSESSMENT_SUMMARY.md
  QA_REPORT_PR47.md
  QA_REPORT_WEB_PARSERS_V0.6.0.md
  QA_VALIDATION_SUMMARY.md
  SECURITY_AUDIT_REPORT.md
Labels: documentation, github

Remove obsolete documentation files from repository root (#195)
  CICD_SETUP_SUMMARY.md
  PHASE1_ASSESSMENT_SUMMARY.md
  QA_REPORT_PR47.md
  QA_REPORT_WEB_PARSERS_V0.6.0.md
  QA_VALIDATION_SUMMARY.md
  SECURITY_AUDIT_REPORT.md
Labels: documentation, github

test(bdd): add step definitions for type-based parser generation (#17)
  tests/bdd/features/type_based_parsers.feature
  tests/bdd/steps/type_based_parsers_steps.py
Labels: tests, bdd-tests, github

test(unit): add comprehensive unit tests for from_type() (#17)
  tests/unit/test_type_adapters.py
Labels: tests, unit-tests, github

test: add BDD scenarios and steps for schema validation (#15)
  tests/bdd/features/schema_validation.feature
  tests/bdd/steps/schema_validation_steps.py
Labels: tests, bdd-tests, github

feat: add Schema API with error accumulation and field path tracking (#15)
  docs/user_guide/schema.rst
  examples/schema_example.py
  tests/bdd/steps/schema_validation_steps.py
  tests/unit/test_schema.py
  valid8r/__init__.py
  valid8r/core/__init__.py
  valid8r/core/maybe.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, documentation, github

fix: resolve lint errors and BDD step ambiguities for CI (#196)
  pyproject.toml
  tests/bdd/steps/type_based_parsers_steps.py
  tests/unit/test_type_adapters.py
  tests/unit/test_web_parsers.py
Labels: tests, unit-tests, bdd-tests, dependencies, github

fix: add per-file lint ignores for examples directory (#198)
  examples/filesystem_validation.py
  pyproject.toml
Labels: dependencies, github

test: fix Gherkin quality and BDD test failures for schema validation (#198)
  tests/bdd/features/schema_validation.feature
  tests/bdd/steps/schema_validation_steps.py
Labels: tests, bdd-tests, github

refactor: extract methods to reduce nesting complexity in Schema (#198)
  valid8r/core/schema.py
Labels: core, github

feat: add Schema API with error accumulation and field path tracking (#198)
  docs/user_guide/schema.rst
  examples/filesystem_validation.py
  examples/schema_example.py
  pyproject.toml
  tests/bdd/features/schema_validation.feature
  tests/bdd/steps/schema_validation_steps.py
  tests/unit/test_schema.py
  valid8r/__init__.py
  valid8r/core/__init__.py
  valid8r/core/maybe.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, documentation, dependencies, github

Remove obsolete documentation files from repository root (#195)
  CICD_SETUP_SUMMARY.md
  PHASE1_ASSESSMENT_SUMMARY.md
  QA_REPORT_PR47.md
  QA_REPORT_WEB_PARSERS_V0.6.0.md
  QA_VALIDATION_SUMMARY.md
  SECURITY_AUDIT_REPORT.md
Labels: documentation, github

fix: add from_type() implementation and fix test expectations (#17)
  tests/bdd/features/type_based_parsers.feature
  tests/bdd/steps/type_based_parsers_steps.py
  tests/unit/test_type_adapters.py
  valid8r/core/type_adapters.py
Labels: core, tests, unit-tests, bdd-tests, github

feat: add Schema API with error accumulation and field path tracking (#198)
  docs/user_guide/schema.rst
  examples/filesystem_validation.py
  examples/schema_example.py
  pyproject.toml
  tests/bdd/features/schema_validation.feature
  tests/bdd/steps/schema_validation_steps.py
  tests/unit/test_schema.py
  valid8r/__init__.py
  valid8r/core/__init__.py
  valid8r/core/maybe.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, documentation, dependencies, github

test(bdd): add comprehensive scenarios for dataclass validation (#16)
  tests/bdd/features/dataclass_validation.feature
  tests/bdd/steps/dataclass_validation_steps.py
Labels: tests, bdd-tests, github

docs: add comprehensive documentation for dataclass integration (#16)
  docs/user_guide/dataclass_validation.rst
  examples/dataclass_example.py
  tests/bdd/features/dataclass_validation.feature
  tests/bdd/steps/dataclass_validation_steps.py
  tests/unit/test_dataclass_validation.py
  valid8r/integrations/__init__.py
  valid8r/integrations/dataclasses.py
Labels: tests, unit-tests, bdd-tests, documentation, github

style: apply linter formatting to dataclass files
  tests/unit/test_dataclass_validation.py
  valid8r/integrations/dataclasses.py
Labels: tests, unit-tests, github

fix: address pr-reviewer feedback for PR #196
  examples/dataclass_example.py
  tests/bdd/steps/clean_type_parsing_steps.py
  tests/bdd/steps/phone_parsing_steps.py
  tests/bdd/steps/url_email_parsing_steps.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, bdd-tests, github

test: fix ambiguous step definitions in dataclass validation BDD tests (#17)
  tests/bdd/features/dataclass_validation.feature
  tests/bdd/steps/dataclass_validation_steps.py
Labels: tests, bdd-tests, github

test: fix Gherkin quality and step definition ambiguities for dataclass validation (#16)
  tests/bdd/features/dataclass_validation.feature
  tests/bdd/steps/dataclass_validation_steps.py
Labels: tests, bdd-tests, github

fix: resolve critical BDD step ambiguities - bypass tests for now
  tests/bdd/steps/dataclass_validation_steps.py
Labels: tests, bdd-tests, github

fix: resolve dataclass_validation BDD step definition errors (#197)
  tests/bdd/steps/dataclass_validation_steps.py
Labels: tests, bdd-tests, github

fix: remove accidentally committed _build directory and update .gitignore (#16)
  .gitignore
Labels: github

feat: complete dataclass validation with all BDD tests passing (#16)
  tests/bdd/steps/dataclass_validation_steps.py
  tests/bdd/steps/url_email_parsing_steps.py
  valid8r/core/validators.py
  valid8r/integrations/dataclasses.py
Labels: core, validators, tests, bdd-tests, github

test: add comprehensive unit tests for type adapters and dataclass integration (#16)
  tests/unit/test_dataclass_validation.py
  tests/unit/test_type_adapters.py
Labels: tests, unit-tests, github

fix: address critical security and code review issues for dataclass integration (#16)
  tests/unit/test_dataclass_validation.py
  tests/unit/test_type_adapters.py
  valid8r/core/type_adapters.py
  valid8r/integrations/dataclasses.py
Labels: core, tests, unit-tests, github

fix: use raw string for regex pattern in pytest.raises (#16)
  tests/unit/test_type_adapters.py
Labels: tests, unit-tests, github

fix: resolve lint and BDD step ambiguity after rebase (#16)
  examples/dataclass_example.py
  tests/bdd/steps/dataclass_validation_steps.py
  tests/bdd/steps/schema_validation_steps.py
Labels: tests, bdd-tests, github

test(unit): add comprehensive unit tests for from_type() (#17)
  tests/unit/test_type_adapters.py
Labels: tests, unit-tests, github

test(bdd): add step definitions for type-based parser generation (#17)
  tests/bdd/features/type_based_parsers.feature
  tests/bdd/steps/type_based_parsers_steps.py
Labels: tests, bdd-tests, github

fix: resolve lint errors and BDD step ambiguities for CI (#196)
  pyproject.toml
  tests/bdd/steps/type_based_parsers_steps.py
  tests/unit/test_type_adapters.py
  tests/unit/test_web_parsers.py
Labels: tests, unit-tests, bdd-tests, dependencies, github

fix: add from_type() implementation and fix test expectations (#17)
  tests/bdd/features/type_based_parsers.feature
  tests/bdd/steps/type_based_parsers_steps.py
  tests/unit/test_type_adapters.py
  valid8r/core/type_adapters.py
Labels: core, tests, unit-tests, bdd-tests, github

fix: address code review issues for type-based parser generation (#16, #17)
  README.md
  docs/index.rst
  docs/user_guide/type_adapters.rst
  examples/type_adapter_example.py
  tests/unit/test_type_adapters.py
  valid8r/__init__.py
  valid8r/core/__init__.py
  valid8r/core/type_adapters.py
Labels: core, tests, unit-tests, documentation, github

feat: add type-based parser generation and dataclass validation (#17, #16) (#201)
  README.md
  docs/index.rst
  docs/user_guide/type_adapters.rst
  examples/type_adapter_example.py
  pyproject.toml
  tests/bdd/features/type_based_parsers.feature
  tests/bdd/steps/type_based_parsers_steps.py
  tests/unit/test_type_adapters.py
  tests/unit/test_web_parsers.py
  valid8r/__init__.py
  valid8r/core/__init__.py
  valid8r/core/type_adapters.py
Labels: core, tests, unit-tests, bdd-tests, documentation, dependencies, github

docs: add CHANGELOG entries for v1.16.0 and v1.17.0 (#204)
  CHANGELOG.md
Labels: documentation, github

fix: correct has_extension validator to accept list/tuple of extensions (#206)
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

fix: correct has_extension validator to handle list/tuple arguments (#206)
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

docs: add CHANGELOG entries for v1.16.0 and v1.17.0 (#204)
  CHANGELOG.md
Labels: documentation, github

feat: add parse_str() parser with type validation (#212)
  tests/bdd/features/string_parsing.feature
  tests/bdd/steps/collection_parsing_steps.py
  tests/bdd/steps/string_parsing_steps.py
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, github

fix: replace lambda workarounds with parse_str and fix private attribute access (#212)
  tests/bdd/steps/string_parsing_steps.py
  tests/unit/test_dict_parser.py
  tests/unit/test_list_parser.py
  tests/unit/test_parsers.py
  tests/unit/test_prompt.py
Labels: tests, unit-tests, bdd-tests, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
