Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'

chore: update GitHub Actions in ci.yml
  .github/workflows/ci.yml
Labels: ci-cd, github

chore: update astral-sh/setup-uv from v6.0.0 to v7.1.2
  .github/actions/setup-uv/action.yml
Labels: github

chore: update codelytv/pr-size-labeler from v1 to v1.10.3
  .github/workflows/size-label.yml
Labels: ci-cd, github

chore: update actions/labeler from v5 to v6.0.1
  .github/workflows/labeler.yml
Labels: ci-cd, github

chore: add version policy headers to remaining workflows
  .github/workflows/auto-close-issues.yml
  .github/workflows/release.yml
Labels: ci-cd, github

chore: update actions/first-interaction from v1 to v3.1.0
  .github/workflows/welcome.yml
Labels: ci-cd, github

chore: update actions/stale from v9 to v10.1.0
  .github/workflows/stale.yml
Labels: ci-cd, github

chore: update all GitHub Actions to latest stable versions (#165)
  .github/actions/setup-uv/action.yml
  .github/workflows/auto-close-issues.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/size-label.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
Labels: ci-cd, github

test: add BDD steps for Pydantic AfterValidator/WrapValidator (#144)
  tests/bdd/steps/pydantic_validators_steps.py
Labels: tests, bdd-tests, github

feat: add Gherkin scenarios for Pydantic AfterValidator/WrapValidator (#144)
  tests/bdd/features/pydantic_after_wrap_validators.feature
Labels: tests, bdd-tests, github

feat: implement make_after_validator and make_wrap_validator (#144)
  tests/bdd/steps/pydantic_validators_steps.py
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, bdd-tests, github

test: add unit tests for make_after_validator and make_wrap_validator (#144)
  tests/unit/test_integrations_pydantic.py
Labels: tests, unit-tests, github

fix: resolve BDD test failures and linting errors (#144)
  tests/bdd/features/pydantic_after_wrap_validators.feature
  tests/bdd/steps/pydantic_validators_steps.py
  valid8r/integrations/pydantic.py
Labels: tests, bdd-tests, github

docs: add AfterValidator and WrapValidator documentation (#144)
  .pre-commit-config.yaml
  docs/integrations/pydantic.md
  valid8r/integrations/__init__.py
Labels: documentation, github

fix: correct parameter names for actions/first-interaction@v3
  .github/workflows/welcome.yml
Labels: ci-cd, github

docs: add workflow upgrade checklist to prevent breaking changes
  .github/WORKFLOW_UPGRADE_CHECKLIST.md
Labels: documentation, github

fix: correct parameter names for actions/first-interaction@v3 (#167)
  .github/WORKFLOW_UPGRADE_CHECKLIST.md
  .github/workflows/welcome.yml
Labels: documentation, ci-cd, github

feat: add Pydantic AfterValidator and WrapValidator support (#144) (#166)
  .pre-commit-config.yaml
  docs/integrations/pydantic.md
  tests/bdd/features/pydantic_after_wrap_validators.feature
  tests/bdd/steps/pydantic_validators_steps.py
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/__init__.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, bdd-tests, documentation, github

test: add BDD tests for Typer integration (#146)
  tests/bdd/features/typer_integration.feature
  tests/bdd/steps/typer_steps.py
Labels: tests, bdd-tests, github

feat: add Typer CLI integration with TyperParser (#146)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/integrations/typer.md
  examples/typer_example.py
  pyproject.toml
  tests/bdd/features/typer_integration.feature
  tests/integration/test_typer.py
  tox.ini
  uv.lock
  valid8r/integrations/__init__.py
  valid8r/integrations/typer.py
Labels: tests, bdd-tests, documentation, dependencies, github

test: strip ANSI color codes in BDD error message assertions (#146)
  tests/bdd/steps/typer_steps.py
Labels: tests, bdd-tests, github

test: add callable tests for TyperParser __call__ method (#146)
  tests/integration/test_typer.py
Labels: tests, github

ci: include integration tests in coverage measurement (#146)
  .github/workflows/ci.yml
Labels: ci-cd, github

ci: fix codecov action parameter for v5 API (#146)
  .github/workflows/ci.yml
Labels: ci-cd, github

feat: add Typer CLI integration (#146) (#168)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/integrations/typer.md
  examples/typer_example.py
  pyproject.toml
  tests/bdd/features/typer_integration.feature
  tests/bdd/steps/typer_steps.py
  tests/integration/test_typer.py
  tox.ini
  uv.lock
  valid8r/integrations/__init__.py
  valid8r/integrations/typer.py
Labels: tests, bdd-tests, documentation, dependencies, ci-cd, github

docs: add pydantic-settings integration section (#18)
  docs/integrations/pydantic.md
Labels: documentation, github

docs: add pydantic-settings integration guide (#18) (#169)
  docs/integrations/pydantic.md
Labels: documentation, github

feat: add argparse integration with type_from_parser (#19)
  docs/integrations/argparse.md
  examples/argparse_example.py
  tests/unit/test_integrations_argparse.py
  valid8r/integrations/__init__.py
  valid8r/integrations/argparse.py
Labels: tests, unit-tests, documentation, github

feat: add argparse integration with type_from_parser (#19) (#170)
  docs/integrations/argparse.md
  examples/argparse_example.py
  tests/unit/test_integrations_argparse.py
  valid8r/integrations/__init__.py
  valid8r/integrations/argparse.py
Labels: tests, unit-tests, documentation, github

test: add coverage pragma to unreachable error handling in argparse integration (#171)
  valid8r/integrations/argparse.py
Labels: github

docs: enable GitHub Discussions for community Q&A and feedback (#173)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, github

docs: enable GitHub Discussions for community Q&A and feedback (#176)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, github

docs: add comprehensive library comparison guide (#174)
  README.md
  docs/comparison.md
  docs/index.rst
Labels: documentation, github

feat: add comprehensive performance benchmarks vs Pydantic/marshmallow/cerberus (#172)
  .github/workflows/benchmarks.yml
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/scenarios.py
  docs/performance.md
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmark_correctness.py
  tests/benchmarks/test_benchmarks.py
  tox.ini
  uv.lock
Labels: tests, documentation, dependencies, ci-cd, github

docs: add comprehensive library comparison guide (#177)
  README.md
  docs/comparison.md
  docs/index.rst
Labels: documentation, github

fix: resolve import sorting and workflow action SHA issues (#172)
  .github/workflows/benchmarks.yml
  benchmarks/scenarios.py
  pyproject.toml
Labels: dependencies, ci-cd, github

fix: update setup-python action to v6.0.0 (#172)
  .github/workflows/benchmarks.yml
Labels: ci-cd, github

fix: disable import sorting checks for benchmark files (#172)
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies, github

chore: consolidate I001 ignore to global config (#172)
  pyproject.toml
Labels: dependencies, github

feat: add comprehensive performance benchmarks vs Pydantic/marshmallow/cerberus (#178)
  .github/workflows/benchmarks.yml
  .pre-commit-config.yaml
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/scenarios.py
  docs/performance.md
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmark_correctness.py
  tests/benchmarks/test_benchmarks.py
  tox.ini
  uv.lock
Labels: tests, documentation, dependencies, ci-cd, github
