Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'

ci: add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

ci: add Dependabot auto-merge workflow (#184)
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

feat: add automated ReDoS detection to CI/CD pipeline (#134)
  .github/workflows/security-checks.yml
  CONTRIBUTING.md
  README.md
  docs/security/secure-parser-development.md
  pyproject.toml
  scripts/check_regex_safety.py
  tests/security/test_check_regex_safety.py
  tests/security/test_redos_detection.py
  tox.ini
  uv.lock
Labels: tests, documentation, dependencies, ci-cd, github

fix: use local setup-uv composite action in security-checks workflow (#134)
  .github/workflows/security-checks.yml
Labels: ci-cd, github

fix: correct dependency groups syntax and package name in security workflow (#134)
  .github/workflows/security-checks.yml
Labels: ci-cd, github

fix: update composite action to handle multiple dependency groups and exclude tests from codebase scan (#134)
  .github/actions/setup-uv/action.yml
  .github/workflows/security-checks.yml
Labels: ci-cd, github

fix: correct bash variable expansion in composite action (#134)
  .github/actions/setup-uv/action.yml
Labels: github

fix: remove unused noqa directives from docs script (#134)
  scripts/docs.py
Labels: github

feat: add automated ReDoS detection to CI/CD pipeline (#134) (#185)
  .github/actions/setup-uv/action.yml
  .github/workflows/security-checks.yml
  CONTRIBUTING.md
  README.md
  docs/security/secure-parser-development.md
  pyproject.toml
  scripts/check_regex_safety.py
  scripts/docs.py
  tests/security/test_check_regex_safety.py
  tests/security/test_redos_detection.py
  tox.ini
  uv.lock
Labels: tests, documentation, dependencies, ci-cd, github

feat: enhance parse_path with DoS protection and add comprehensive tests (#12)
  tests/unit/test_path_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

feat: add timezone-aware datetime and timedelta parsers (#13)
  tests/unit/test_datetime_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

feat: add pluggable IO provider for prompt functions (#22)
  examples/io_provider_example.py
  tests/unit/test_io_provider.py
  tests/unit/test_prompt.py
  valid8r/prompt/__init__.py
  valid8r/prompt/basic.py
  valid8r/prompt/io_provider.py
Labels: prompt, tests, unit-tests, github

test: add BDD tests for pluggable IO provider (#22)
  tests/bdd/features/pluggable_io_provider.feature
  tests/bdd/steps/test_io_provider_steps.py
Labels: tests, bdd-tests, github

test: remove coverage-inflation protocol tests (#22)
  tests/unit/test_io_provider.py
Labels: tests, unit-tests, github

docs: add comprehensive documentation for temporal parsers (#13)
  README.md
  docs/user_guide/parsers.rst
  examples/datetime_example.py
Labels: documentation, github

test: add coverage for invalid ISO 8601 duration format (#13)
  tests/unit/test_datetime_parsers.py
Labels: tests, unit-tests, github

test: consolidate duplicate parse_path tests (#12)
  tests/unit/test_filesystem_validators.py
  tests/unit/test_parsers.py
Labels: tests, unit-tests, github

docs: add comprehensive filesystem parser documentation (#12)
  README.md
  docs/parsers/filesystem.md
  examples/filesystem_validation.py
Labels: documentation, github

feat: add timezone-aware datetime and timedelta parsers (#13) (#188)
  README.md
  docs/user_guide/parsers.rst
  examples/datetime_example.py
  tests/unit/test_datetime_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, documentation, github

feat: add pluggable IO provider for prompt functions (#22) (#187)
  examples/io_provider_example.py
  tests/bdd/features/pluggable_io_provider.feature
  tests/bdd/steps/test_io_provider_steps.py
  tests/unit/test_io_provider.py
  tests/unit/test_prompt.py
  valid8r/prompt/__init__.py
  valid8r/prompt/basic.py
  valid8r/prompt/io_provider.py
Labels: prompt, tests, unit-tests, bdd-tests, github

feat: enhance parse_path with DoS protection and comprehensive tests (#186)
  README.md
  docs/parsers/filesystem.md
  examples/filesystem_validation.py
  tests/unit/test_filesystem_validators.py
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, documentation, github

docs: add RFC-001 for structured error model (#24)
  docs/development/rfc-001-structured-errors.md
Labels: documentation, github

feat(errors): add ValidationError dataclass with comprehensive validation
  tests/unit/test_errors.py
  valid8r/core/errors.py
Labels: core, tests, unit-tests, github

feat(errors): add ErrorCode constants registry
  tests/unit/test_errors.py
  valid8r/core/errors.py
Labels: core, tests, unit-tests, github

feat(maybe): add ValidationError support to Failure class
  tests/unit/test_maybe_errors.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, github

docs: fix doctest example in Failure class docstring
  valid8r/core/maybe.py
Labels: core, github

feat(api): export ValidationError and ErrorCode from public API
  tests/unit/test_public_api_errors.py
  valid8r/__init__.py
Labels: tests, unit-tests, github

docs: add comprehensive documentation for ValidationError and ErrorCode (#189)
  README.md
  docs/index.rst
  docs/user_guide/error_handling.rst
  examples/structured_errors_example.py
Labels: documentation, github

feat: Phase 1 - Structured Error Model Foundation (RFC-001) (#189)
  README.md
  docs/index.rst
  docs/user_guide/error_handling.rst
  examples/structured_errors_example.py
  tests/unit/test_errors.py
  tests/unit/test_maybe_errors.py
  tests/unit/test_public_api_errors.py
  valid8r/__init__.py
  valid8r/core/errors.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, documentation, github

feat: add error_detail() method to Failure class per RFC-001 Phase 2 (#190)
  tests/bdd/features/rfc-001-phase-2-error-detail-method.feature
  tests/bdd/steps/error_detail_steps.py
  tests/unit/test_maybe_errors.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, bdd-tests, github

refactor: rewrite BDD scenarios to follow declarative best practices (#190)
  tests/bdd/features/rfc-001-phase-2-error-detail-method.feature
  tests/bdd/steps/error_detail_steps.py
Labels: tests, bdd-tests, github

docs: add documentation for error_detail() method (#190)
  README.md
  docs/development/rfc-001-structured-errors.md
  docs/user_guide/error_handling.rst
  docs/user_guide/maybe_monad.rst
Labels: documentation, github

RFC-001 Phase 2: Add error_detail() method to Failure class (#191)
  README.md
  docs/development/rfc-001-structured-errors.md
  docs/user_guide/error_handling.rst
  docs/user_guide/maybe_monad.rst
  tests/bdd/features/rfc-001-phase-2-error-detail-method.feature
  tests/bdd/steps/error_detail_steps.py
  tests/unit/test_maybe_errors.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, bdd-tests, documentation, github

docs: regenerate CHANGELOG.md with missing v1.0.0-v1.15.0 releases
  CHANGELOG.md
Labels: documentation, github

docs: update ROADMAP.md to reflect v1.15.0 and completed work
  ROADMAP.md
Labels: documentation, github

docs: regenerate CHANGELOG.md with missing v1.0.0-v1.15.0 releases (#192)
  CHANGELOG.md
Labels: documentation, github

docs: update ROADMAP.md to reflect v1.15.0 and completed work (#192)
  ROADMAP.md
Labels: documentation, github

Revert "docs: update ROADMAP.md to reflect v1.15.0 and completed work"
  ROADMAP.md
Labels: documentation, github

Revert "docs: regenerate CHANGELOG.md with missing v1.0.0-v1.15.0 releases"
  CHANGELOG.md
Labels: documentation, github

Documentation cleanup: Remove obsolete files and update CHANGELOG/ROADMAP (#193)
  CHANGELOG.md
  ROADMAP.md
Labels: documentation, github
