Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'

docs: add prominent installation instructions for optional extras
  README.md
  docs/index.rst
  docs/user_guide/getting_started.rst
Labels: documentation, github

fix: quote package name in pip install commands for extras
  README.md
  docs/index.rst
  docs/user_guide/getting_started.rst
Labels: documentation, github

fix: resolve linting and test failures in integration tests
  tests/unit/test_integrations_click.py
  tests/unit/test_integrations_pydantic.py
Labels: tests, unit-tests, github

fix: suppress F401 lint warning for runtime-needed import
  tests/unit/test_integrations_pydantic.py
Labels: tests, unit-tests, github

feat: Pydantic integration with validator_from_parser() helper (#153)
  README.md
  docs/index.rst
  docs/user_guide/getting_started.rst
  examples/__init__.py
  examples/fastapi_example.py
  tests/unit/test_integrations_click.py
  tests/unit/test_integrations_pydantic.py
  valid8r/integrations/__init__.py
  valid8r/integrations/pydantic.py
Labels: tests, unit-tests, documentation, github

test: add BDD feature and step definitions for environment variable integration
  tests/bdd/features/environment_variables.feature
  tests/bdd/steps/environment_variables_steps.py
Labels: tests, bdd-tests, github

fix: correct BDD step definitions to avoid ambiguous steps
  tests/bdd/features/environment_variables.feature
  tests/bdd/steps/environment_variables_steps.py
Labels: tests, bdd-tests, github

test: add comprehensive unit tests for environment variable integration
  tests/unit/test_integrations_env.py
Labels: tests, unit-tests, github

feat: implement environment variable integration with schema validation
  tests/bdd/features/environment_variables.feature
  tests/bdd/steps/environment_variables_steps.py
  tests/unit/test_integrations_env.py
  valid8r/integrations/env.py
Labels: tests, unit-tests, bdd-tests, github

docs: add FastAPI example and update integrations exports
  examples/env_example.py
  valid8r/integrations/__init__.py
Labels: github

ci: add automated issue closing from PR descriptions
  .github/workflows/auto-close-issues.yml
  CLAUDE.md
Labels: documentation, ci-cd, github

ci: automate issue closing from PR descriptions (#159)
  .github/workflows/auto-close-issues.yml
  CLAUDE.md
Labels: documentation, ci-cd, github

fix(lint): resolve linting violations in env integration (#147)
  examples/env_example.py
  tests/unit/test_integrations_env.py
  valid8r/integrations/__init__.py
  valid8r/integrations/env.py
Labels: tests, unit-tests, github

fix(bdd): remove list_separator parameter from env integration tests (#147)
  tests/bdd/features/environment_variables.feature
  tests/bdd/steps/environment_variables_steps.py
Labels: tests, bdd-tests, github

style: fix ruff formatting in environment_variables_steps.py
  tests/bdd/steps/environment_variables_steps.py
Labels: tests, bdd-tests, github

docs: add comprehensive documentation for environment variables integration (#147)
  README.md
  docs/examples/environment_variables.rst
  docs/index.rst
  examples/env_example.py
  tox.ini
Labels: documentation, github

feat: environment variable integration with schema validation (#157)
  README.md
  docs/examples/environment_variables.rst
  docs/index.rst
  examples/env_example.py
  tests/bdd/features/environment_variables.feature
  tests/bdd/steps/environment_variables_steps.py
  tests/unit/test_integrations_env.py
  tox.ini
  valid8r/integrations/__init__.py
  valid8r/integrations/env.py
Labels: tests, unit-tests, bdd-tests, documentation, github

docs: require fork-based contributions (#160)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Labels: documentation, github

docs: require fork-based contributions (#161)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Labels: documentation, github

feat: BDD scenarios for filesystem permission validators (#150)
  tests/bdd/features/filesystem_permissions.feature
Labels: tests, bdd-tests, github

test: implement BDD steps for filesystem metadata validators (#151)
  tests/bdd/features/filesystem_validators.feature
  tests/bdd/steps/filesystem_validators_steps.py
Labels: tests, bdd-tests, github

test: implement BDD steps for filesystem permission validators (#150)
  tests/bdd/steps/filesystem_permissions_steps.py
Labels: tests, bdd-tests, github

feat: add filesystem permission validators (#150)
  tests/bdd/steps/filesystem_permissions_steps.py
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, bdd-tests, github

fix: remove filesystem_validators_steps.py from permissions branch (#150)
  tests/bdd/steps/filesystem_validators_steps.py
Labels: tests, bdd-tests, github

fix: remove filesystem_validators.feature from permissions branch (#150)
  tests/bdd/features/filesystem_validators.feature
Labels: tests, bdd-tests, github

feat: add filesystem permission validators (#150) (#162)
  tests/bdd/features/filesystem_permissions.feature
  tests/bdd/steps/filesystem_permissions_steps.py
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, bdd-tests, github

test: implement BDD steps for filesystem metadata validators (#151)
  tests/bdd/steps/environment_variables_steps.py
  tests/bdd/steps/filesystem_validators_steps.py
Labels: tests, bdd-tests, github

test: implement BDD steps for filesystem metadata validators (#151)
  tests/bdd/features/filesystem_validators.feature
  tests/bdd/steps/filesystem_validators_steps.py
Labels: tests, bdd-tests, github

fix: correct is_file() calls in BDD step definitions (#151)
  tests/bdd/steps/filesystem_validators_steps.py
Labels: tests, bdd-tests, github

feat: add filesystem metadata validators (#151)
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, github

fix: remove filesystem_permissions.feature from metadata branch (#151)
  tests/bdd/features/filesystem_permissions.feature
Labels: tests, bdd-tests, github

test: add missing BDD step for JSON block assertions (#151)
  tests/bdd/steps/environment_variables_steps.py
Labels: tests, bdd-tests, github

style: format test_validators.py with ruff
  tests/unit/test_validators.py
Labels: tests, unit-tests, github

feat: add filesystem metadata validators (#151) (#163)
  tests/bdd/features/filesystem_permissions.feature
  tests/bdd/features/filesystem_validators.feature
  tests/bdd/steps/environment_variables_steps.py
  tests/bdd/steps/filesystem_validators_steps.py
  tests/unit/test_validators.py
  valid8r/core/validators.py
Labels: core, validators, tests, unit-tests, bdd-tests, github

test: add BDD steps for Pydantic nested validation (#143)
  tests/bdd/features/pydantic_nested_validation.feature
  tests/bdd/steps/pydantic_nested_validation_steps.py
Labels: tests, bdd-tests, github

fix: correct BDD test data and assertions for nested validation (#143)
  tests/bdd/features/pydantic_nested_validation.feature
  tests/bdd/steps/pydantic_nested_validation_steps.py
Labels: tests, bdd-tests, github

fix: add PhoneNumber type annotations to BDD models (#143)
  tests/bdd/steps/pydantic_nested_validation_steps.py
Labels: tests, bdd-tests, github

docs: add Pydantic nested validation integration tests and documentation (#143)
  docs/integrations/pydantic.md
  pyproject.toml
  tests/bdd/steps/pydantic_nested_validation_steps.py
  tests/integration/test_pydantic.py
Labels: tests, bdd-tests, documentation, dependencies, github

fix: resolve BDD test errors in nested validation (#143)
  tests/bdd/steps/pydantic_nested_validation_steps.py
Labels: tests, bdd-tests, github

feat: add Pydantic nested model validation support (#143) (#164)
  docs/integrations/pydantic.md
  pyproject.toml
  tests/bdd/features/pydantic_nested_validation.feature
  tests/bdd/steps/pydantic_nested_validation_steps.py
  tests/integration/test_pydantic.py
Labels: tests, bdd-tests, documentation, dependencies, github
