Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

fix(ci): use default semantic-release templates for proper changelog generation
  pyproject.toml
Labels: dependencies, github

fix(ci): use default semantic-release templates for proper changelog generation (#78)
  pyproject.toml
Labels: dependencies, github

fix(ci): explicitly configure angular commit parser for semantic-release
  pyproject.toml
Labels: dependencies, github

fix(ci): explicitly configure angular commit parser for semantic-release (#80)
  pyproject.toml
Labels: dependencies, github

chore: rename old CHANGELOG.md to allow semantic-release to generate fresh changelog
  CHANGELOG.old.md
Labels: documentation, github

chore: rename old CHANGELOG.md to allow semantic-release to generate fresh changelog (#82)
  CHANGELOG.old.md
Labels: documentation, github

fix(ci): set changelog mode to 'init' to force fresh changelog generation
  pyproject.toml
Labels: dependencies, github

fix(ci): set changelog mode to 'init' to force fresh changelog generation (#84)
  pyproject.toml
Labels: dependencies, github

feat(ci): use GitHub's automatic release notes generation
  .github/release.yml
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

feat(ci): use GitHub's automatic release notes generation (#86)
  .github/release.yml
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix(ci): don't exclude dependencies label from release notes
  .github/release.yml
Labels: ci-cd, github

fix(ci): don't exclude dependencies label from release notes (#88)
  .github/release.yml
Labels: ci-cd, github

fix(ci): let semantic-release handle versioning only, create releases with auto-notes
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix(ci): let semantic-release handle versioning only, create releases with auto-generated notes (#90)
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix(ci): disable upload_to_vcs_release to prevent semantic-release from creating releases
  pyproject.toml
Labels: dependencies, github

fix(ci): disable upload_to_vcs_release to prevent semantic-release from creating releases (#92)
  pyproject.toml
Labels: dependencies, github

fix(ci): explicitly set vcs_release=false in action inputs
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

fix(ci): explicitly set vcs_release=false in action inputs (#94)
  .github/workflows/semantic-release.yml
Labels: ci-cd, github

fix: populate GitHub release notes with auto-generated content
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix: populate GitHub release notes with auto-generated content (#96)
  .github/workflows/semantic-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix: use GitHub auto-generated release notes in version-and-release workflow
  .github/workflows/semantic-release.yml
  .github/workflows/version-and-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

fix: use GitHub auto-generated release notes in version-and-release workflow (#98)
  .github/workflows/semantic-release.yml
  .github/workflows/version-and-release.yml
  pyproject.toml
Labels: dependencies, ci-cd, github

chore: remove outdated CHANGELOG.old.md and ignore generated CHANGELOG.md
  .gitignore
  CHANGELOG.old.md
Labels: documentation, github

chore: remove outdated CHANGELOG.old.md and ignore generated CHANGELOG.md (#100)
  .gitignore
  CHANGELOG.old.md
Labels: documentation, github

fix: correct version number and optimize phone parser performance
  pyproject.toml
  valid8r/__init__.py
  valid8r/core/parsers.py
Labels: core, parsers, dependencies, github

fix: Version 0.5.8 - Bug fixes and performance improvements (#102)
  pyproject.toml
  valid8r/__init__.py
  valid8r/core/parsers.py
Labels: core, parsers, dependencies, github

docs: add mandatory BDD/TDD workflow and web parsers Gherkin specs
  CLAUDE.md
  tests/bdd/features/web_parsers.feature
Labels: tests, bdd-tests, documentation, github

test: add BDD step definitions for web parsers (Phase 2 complete)
  tests/bdd/steps/web_parsers_steps.py
Labels: tests, bdd-tests, github

feat: implement web-focused parsers (Phase 3 complete)
  tests/unit/test_web_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

fix: correct BDD test data and quote handling for web parsers
  tests/bdd/features/web_parsers.feature
  tests/bdd/steps/web_parsers_steps.py
Labels: tests, bdd-tests, github

fix: handle escape sequences in base64 tests and fix JWT signatures
  tests/bdd/features/web_parsers.feature
  tests/bdd/steps/web_parsers_steps.py
Labels: tests, bdd-tests, github

docs: add comprehensive doctest examples to web parsers
  tests/unit/test_web_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, github

ci: add tox parallel tests to pre-commit hooks
  .pre-commit-config.yaml
Labels: github

fix: remove problematic doctest line in parse_base64
  valid8r/core/parsers.py
Labels: core, parsers, github

chore: add test-specific ruff suppressions to pyproject.toml
  pyproject.toml
  tests/qa_security_web_parsers.py
Labels: tests, dependencies, github

feat: add web-focused parsers (slug, JSON, base64, JWT) (#104)
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  tests/bdd/features/web_parsers.feature
  tests/bdd/steps/web_parsers_steps.py
  tests/qa_security_web_parsers.py
  tests/unit/test_web_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, documentation, dependencies, github

refactor: remove example-only dependencies from dev requirements
  examples/fastapi_integration.py
  examples/requirements.txt
  pyproject.toml
Labels: dependencies, github

refactor: move examples to Sphinx documentation
  .claude/settings.local.json
  QA_REPORT_WEB_PARSERS_V0.6.0.md
  QA_VALIDATION_SUMMARY.md
  docs/examples/fastapi_integration.rst
  docs/index.rst
  examples/README.md
  examples/__init__.py
  examples/fastapi_integration.py
  pyproject.toml
Labels: documentation, dependencies, github

fix: correct filename reference in documentation index
  docs/index.rst
Labels: documentation, github

docs: add comprehensive documentation for missing parsers
  docs/user_guide/parsers.rst
Labels: documentation, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
