Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

docs: add comprehensive Typer integration example (#229)
  examples/typer-integration/README.md
  examples/typer-integration/__init__.py
  examples/typer-integration/cloud_cli.py
  examples/typer-integration/requirements.txt
Labels: documentation, github

docs: update Typer integration guide with new patterns (#229)
  docs/integrations/typer.md
Labels: documentation, github

feat: enhance Typer integration with validator_callback and ValidatedType (#229)
  tests/integration/test_typer_enhancement.py
  valid8r/integrations/typer.py
Labels: tests, github

test: add BDD tests for Typer integration enhancement (#229)
  tests/bdd/features/typer_integration_enhancement.feature
  tests/bdd/steps/typer_integration_steps.py
Labels: tests, bdd-tests, github

fix: resolve step definition conflicts and lint issues (#229)
  examples/typer-integration/cloud_cli.py
  tests/bdd/features/fastapi_async_validation_guide.feature
  tests/bdd/features/rich_integration.feature
  tests/bdd/steps/fastapi_async_validation_guide_steps.py
  tests/bdd/steps/rich_integration_steps.py
Labels: tests, bdd-tests, github

feat: add Typer integration enhancement (#229) (#236)
  docs/integrations/typer.md
  examples/typer-integration/README.md
  examples/typer-integration/__init__.py
  examples/typer-integration/cloud_cli.py
  examples/typer-integration/requirements.txt
  tests/bdd/environment.py
  tests/bdd/features/fastapi_async_validation_guide.feature
  tests/bdd/features/rich_integration.feature
  tests/bdd/features/typer_integration_enhancement.feature
  tests/bdd/steps/fastapi_async_validation_guide_steps.py
  tests/bdd/steps/rich_integration_steps.py
  tests/bdd/steps/typer_integration_steps.py
  tests/integration/test_typer_enhancement.py
  valid8r/integrations/typer.py
Labels: tests, bdd-tests, documentation, github

fix: update dependabot/fetch-metadata to v2.4.0
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

fix: update dependabot workflow and relax BDD step linting rules
  .github/workflows/dependabot-auto-merge.yml
  pyproject.toml
  tests/bdd/steps/async_validation_steps.py
  tests/bdd/steps/async_validators_steps.py
  tests/bdd/steps/clean_type_parsing_steps.py
  tests/bdd/steps/environment_variables_steps.py
  tests/bdd/steps/fastapi_async_validation_guide_steps.py
  tests/bdd/steps/interactive_prompts_steps.py
  tests/bdd/steps/pydantic_nested_validation_steps.py
  tests/bdd/steps/pydantic_validators_steps.py
  tests/bdd/steps/schema_validation_steps.py
  tests/bdd/steps/test_io_provider_steps.py
  tests/bdd/steps/testing_utilities_steps.py
  tests/bdd/steps/type_based_parsers_steps.py
  tests/bdd/steps/typer_integration_steps.py
  tests/bdd/steps/typer_steps.py
  tests/bdd/steps/validator_combinators_steps.py
  tests/bdd/steps/validators_steps.py
Labels: tests, bdd-tests, dependencies, ci-cd, github

feat: implement async API validators (valid_api_key, valid_oauth_token) (#237)
  tests/bdd/steps/async_validators_steps.py
  valid8r/async_validators.py
Labels: tests, bdd-tests, github

fix: complete async validators implementation (#237)
  pyproject.toml
  tests/bdd/steps/async_validation_steps.py
  tests/bdd/steps/async_validators_steps.py
  tests/bdd/steps/pydantic_validators_steps.py
Labels: tests, bdd-tests, dependencies, github

test: add comprehensive unit tests for async_validators (#237)
  tests/unit/test_async_validators.py
Labels: tests, unit-tests, github

feat: add coverage collection to BDD tests (#246)
  .coveragerc
  .github/workflows/ci.yml
  tests/bdd/environment.py
  tox.ini
Labels: tests, bdd-tests, ci-cd, github

fix(ci): ensure BDD coverage artifact uploads correctly (#246)
  .github/workflows/ci.yml
Labels: ci-cd, github

fix(ci): enable hidden file uploads for coverage artifacts (#246)
  .github/workflows/ci.yml
Labels: ci-cd, github

test: add comprehensive tests for async_validators module (#237)
  tests/unit/test_async_validators.py
Labels: tests, unit-tests, github

test: add comprehensive tests for typer integration to reach 90% coverage (#245)
  tests/unit/test_integrations_typer.py
Labels: tests, unit-tests, github

feat: implement async API validators (#245)
  .coveragerc
  .github/workflows/ci.yml
  pyproject.toml
  tests/bdd/environment.py
  tests/bdd/steps/async_validation_steps.py
  tests/bdd/steps/async_validators_steps.py
  tests/bdd/steps/pydantic_validators_steps.py
  tests/unit/test_async_validators.py
  tests/unit/test_integrations_typer.py
  tox.ini
  valid8r/async_validators.py
Labels: tests, unit-tests, bdd-tests, dependencies, ci-cd, github

docs: add Build a CLI in 10 Minutes tutorial (#223)
  docs/index.rst
  docs/tutorials/build-cli-in-10-minutes.md
  examples/tutorial-task-cli/README.md
  examples/tutorial-task-cli/task_cli.py
  examples/tutorial-task-cli/test_task_cli.py
  tox.ini
Labels: documentation, github

feat: add automated benchmark suite with CI integration (#222)
  .github/workflows/benchmarks.yml
  benchmarks/__init__.py
  benchmarks/baselines/README.md
  benchmarks/comparison.py
  docs/performance/benchmarks.md
  tests/benchmarks/test_comparison.py
  tox.ini
Labels: tests, documentation, ci-cd, github

docs: Add Build a CLI in 10 Minutes tutorial (#247)
  docs/index.rst
  docs/tutorials/build-cli-in-10-minutes.md
  examples/tutorial-task-cli/README.md
  examples/tutorial-task-cli/task_cli.py
  examples/tutorial-task-cli/test_task_cli.py
  tox.ini
Labels: documentation, github

fix: prevent division by zero in benchmark comparison (#222)
  benchmarks/comparison.py
  docs/performance/benchmarks.md
  tests/benchmarks/test_comparison.py
Labels: tests, documentation, github

feat: Add automated benchmark suite with CI integration (#248)
  .github/workflows/benchmarks.yml
  benchmarks/__init__.py
  benchmarks/baselines/README.md
  benchmarks/comparison.py
  docs/performance/benchmarks.md
  tests/benchmarks/test_comparison.py
  tox.ini
Labels: tests, documentation, ci-cd, github

docs: add RateLimitedValidator documentation (#239)
  docs/user_guide/async_validation.rst
Labels: documentation, github

fix: address review feedback for documentation examples (#239)
  docs/user_guide/async_validation.rst
Labels: documentation, github

docs: add RateLimitedValidator documentation (#239) (#250)
  docs/user_guide/async_validation.rst
Labels: documentation, github

feat: add RetryingValidator with exponential backoff and jitter (#240)
  docs/user_guide/async_validation.rst
  tests/bdd/steps/async_validators_steps.py
  tests/unit/test_retrying_validator.py
  valid8r/async_validators.py
Labels: tests, unit-tests, bdd-tests, documentation, github

feat: add RetryingValidator with exponential backoff and jitter (#240) (#251)
  docs/user_guide/async_validation.rst
  tests/bdd/steps/async_validators_steps.py
  tests/unit/test_retrying_validator.py
  valid8r/async_validators.py
Labels: tests, unit-tests, bdd-tests, documentation, github

docs: add combined coverage workflow documentation (#246)
  CLAUDE.md
Labels: documentation, github

docs: Add combined coverage workflow documentation (#265)
  CLAUDE.md
Labels: documentation, github

docs: add contributor program infrastructure (#230)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: documentation, github

feat(async): add validator composition functions (#241)
  docs/guides/async-validators.md
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, documentation, github

feat(examples): add CLI starter template (#221)
  docs/tutorials/cli-starter-template.md
  examples/cli-starter-template/README.md
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/tests/test_cli.py
  pyproject.toml
Labels: documentation, dependencies, github

feat(async): add validator composition functions (#266)
  docs/guides/async-validators.md
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, documentation, github

feat(examples): add CLI starter template (#267)
  docs/tutorials/cli-starter-template.md
  examples/cli-starter-template/README.md
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/tests/test_cli.py
  pyproject.toml
Labels: documentation, dependencies, github

docs: add contributor program infrastructure (#268)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: documentation, github

docs: fix async documentation contradictions
  ROADMAP.md
  docs/guides/fastapi-async-validation.md
  docs/index.rst
Labels: documentation, github

feat(maybe): add type-safe value extraction methods
  tests/unit/test_maybe.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, github

fix(examples): make CLI template standalone without validators module
  examples/cli-starter-template/README.md
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/tests/test_validators.py
  examples/cli-starter-template/validators.py
Labels: documentation, github

feat: add Success and Failure as top-level exports (#270)
  tests/unit/test_public_api.py
  valid8r/__init__.py
Labels: tests, unit-tests, github

fix(examples): use actual unicode in unicode-accents test case
  examples/cli-starter-template/tests/test_validators.py
Labels: github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
