Repository mikelane/valid8r, changes with the labels that .github/labeler.yml gives for each.
All labels: core, parsers, validators, prompt, testing-utils, tests, unit-tests, bdd-tests, documentation, dependencies, ci-cd, github

chore: remove unused noqa directives
  tests/bdd/steps/cli_starter_template_steps.py
  tests/bdd/steps/rich_integration_steps.py
  tests/bdd/steps/typer_steps.py
  tests/unit/examples/test_rich_integration.py
Labels: tests, unit-tests, bdd-tests, github

docs: Fix async documentation contradictions (#284)
  ROADMAP.md
  docs/guides/fastapi-async-validation.md
  docs/index.rst
Labels: documentation, github

feat(maybe): add type-safe value extraction methods (#285)
  tests/unit/test_maybe.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, github

fix: Make CLI template standalone without validators module (#286)
  examples/cli-starter-template/README.md
  examples/cli-starter-template/cli.py
  examples/cli-starter-template/tests/test_validators.py
  examples/cli-starter-template/validators.py
Labels: documentation, github

feat: Add Success and Failure as top-level exports (#287)
  tests/unit/test_public_api.py
  valid8r/__init__.py
Labels: tests, unit-tests, github

chore: remove unused noqa directives (#288)
  tests/bdd/steps/cli_starter_template_steps.py
  tests/bdd/steps/rich_integration_steps.py
  tests/bdd/steps/typer_steps.py
  tests/unit/examples/test_rich_integration.py
Labels: tests, unit-tests, bdd-tests, github

feat(maybe): add and_then, from_optional, to_optional helpers (#274, #281, #282)
  tests/unit/test_maybe.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, github

docs: fix documentation issues (#273, #278, #279)
  README.md
  docs/comparison.md
Labels: documentation, github

feat(combinators): add validate_all for error accumulation
  tests/unit/test_combinators.py
  valid8r/core/combinators.py
Labels: core, tests, unit-tests, github

docs: add validation approach decision guide (#275)
  docs/guides/choosing-validation-approach.md
  docs/index.rst
  tests/unit/test_retrying_validator.py
Labels: tests, unit-tests, documentation, github

feat(parsers): add parse_str function for consistent string parsing (#277)
  tests/bdd/features/string_parsing.feature
  tests/bdd/steps/string_parsing_steps.py
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, github

refactor(schema): remove deprecated validator parameter from Field (#280)
  tests/bdd/steps/schema_validation_steps.py
  tests/unit/test_schema.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, github

refactor(combinators): remove unnecessary inline comments in validate_all
  valid8r/core/combinators.py
Labels: core, github

docs: fix performance claims consistency and async FAQ accuracy
  docs/comparison.md
  docs/performance.md
Labels: documentation, github

fix(examples): update examples to use validators list syntax
  examples/schema_example.py
Labels: github

docs: Add validation approach decision guide (#289)
  docs/guides/choosing-validation-approach.md
  docs/index.rst
  tests/unit/test_retrying_validator.py
Labels: tests, unit-tests, documentation, github

feat(combinators): Add validate_all for error accumulation (#290)
  tests/unit/test_combinators.py
  valid8r/core/combinators.py
Labels: core, tests, unit-tests, github

docs: Fix documentation issues (#291)
  README.md
  docs/comparison.md
  docs/performance.md
Labels: documentation, github

feat(maybe): Add and_then, from_optional, to_optional helpers (#292)
  tests/unit/test_maybe.py
  valid8r/core/maybe.py
Labels: core, tests, unit-tests, github

feat(parsers): add parse_str function for consistent string parsing (#293)
  tests/bdd/features/string_parsing.feature
  tests/bdd/steps/string_parsing_steps.py
  tests/unit/test_parsers.py
  valid8r/core/parsers.py
Labels: core, parsers, tests, unit-tests, bdd-tests, github

refactor(schema): remove deprecated validator parameter from Field (#294)
  examples/schema_example.py
  tests/bdd/steps/schema_validation_steps.py
  tests/unit/test_schema.py
  valid8r/core/schema.py
Labels: core, tests, unit-tests, bdd-tests, github

feat(async-validators): add timeout, caching, and concurrency control (#242)
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, github

feat(async-validators): add timeout, caching, and concurrency control (#295)
  tests/unit/test_async_validators.py
  valid8r/async_validators.py
Labels: tests, unit-tests, github

docs: add user guide for TimeoutValidator, CachedValidator, and max_concurrency (#296)
  docs/guides/async-validators.md
  docs/user_guide/async_validation.rst
Labels: documentation, github

docs: add mandatory epic structure with documentation and demo stories
  CLAUDE.md
Labels: documentation, github

docs: add user guide for TimeoutValidator, CachedValidator, and max_concurrency (#297)
  docs/guides/async-validators.md
  docs/user_guide/async_validation.rst
Labels: documentation, github

ci: add workflows:write to dependabot auto-merge job (#326)
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

style: quote PR_URL variables in dependabot auto-merge workflow (#326)
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

fix: gate dependabot auto-merge to approved update classes (#326)
  .github/workflows/dependabot-auto-merge.yml
  tests/unit/test_dependabot_auto_merge_workflow.py
Labels: tests, unit-tests, ci-cd, github

fix: use PAT for Dependabot workflow-file merges (#326)
  .github/workflows/dependabot-auto-merge.yml
  tests/unit/test_dependabot_auto_merge_workflow.py
Labels: tests, unit-tests, ci-cd, github

refactor: apply least-privilege to dependabot workflow permissions (#326)
  .github/workflows/dependabot-auto-merge.yml
  tests/unit/test_dependabot_auto_merge_workflow.py
Labels: tests, unit-tests, ci-cd, github

docs: document PAT requirements and rotation for dependabot merge (#326)
  .github/workflows/dependabot-auto-merge.yml
Labels: ci-cd, github

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on which files are changed

# Core library code
'core':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/**/*'

'parsers':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/parsers.py'

'validators':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/core/validators.py'

'prompt':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/prompt/**/*'

'testing-utils':
  - changed-files:
    - any-glob-to-any-file: 'valid8r/testing/**/*'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

'unit-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/unit/**/*'

'bdd-tests':
  - changed-files:
    - any-glob-to-any-file: 'tests/bdd/**/*'

# Documentation
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - '*.rst'

# Configuration
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'poetry.lock'

'ci-cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/*.yml'

'github':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '!.github/workflows/**/*'
